extend layout
block content
    h1 #{title}
    img(src='http://i1.mirror.co.uk/incoming/article2791367.ece/ALTERNATES/s615/Doctor-Who.jpg')
    p It's a fez. I wear a fez now. Fezes are cool. You know when grown-ups tell you 'everything's going to be fine' and you think they're probably lying to make you feel better? No, I'll fix it. I'm good at fixing rot. Call me the Rotmeister. No, I'm the Doctor. Don't call me the Rotmeister.
    p. 
        You hate me; you want to kill me! Well, go on! Kill me! KILL ME! Stop talking, brain thinking. Hush. No, I'll fix it. I'm good at fixing rot. Call me the Rotmeister. No, I'm the Doctor. Don't call me the Rotmeister.
        Heh-haa! Super squeaky bum time! I hate yogurt. It's just stuff with bits in. Sorry, checking all the water in this area; there's an escaped fish. Father Christmas. Santa Claus. Or as I've always known him: Jeff.        
        You hit me with a cricket bat. Annihilate? No. No violence. I won't stand for it. Not now, not ever, do you understand me?! I'm the Doctor, the Oncoming Storm - and you basically meant beat them in a football match, didn't you?
        
        I'm nobody's taxi service; I'm not gonna be there to catch you every time you feel like jumping out of a spaceship. You've swallowed a planet! No… It's a thing; it's like a plan, but with more greatness.
        
        It's art! A statement on modern society, 'Oh Ain't Modern Society Awful?'! Heh-haa! Super squeaky bum time! It's art! A statement on modern society, 'Oh Ain't Modern Society Awful?'! You know when grown-ups tell you 'everything's going to be fine' and you think they're probably lying to make you feel better?
        
        I'm the Doctor, I'm worse than everyone's aunt. *catches himself* And that is not how I'm introducing myself. I'm the Doctor, I'm worse than everyone's aunt. *catches himself* And that is not how I'm introducing myself.
        
        Aw, you're all Mr. Grumpy Face today. You hate me; you want to kill me! Well, go on! Kill me! KILL ME! Saving the world with meals on wheels. Did I mention we have comfy chairs? I'm the Doctor, I'm worse than everyone's aunt. *catches himself* And that is not how I'm introducing myself.
        
        I am the last of my species, and I know how that weighs on the heart so don't lie to me! No… It's a thing; it's like a plan, but with more greatness. I'm the Doctor, I'm worse than everyone's aunt. *catches himself* And that is not how I'm introducing myself.

    p To see all registered users, <a href="/userlist">click here</a>
