doctype html
html
  head
    title #{title} - Node.js Example Site
    link(rel='stylesheet', href='/styles.css')
  body
    header
        .container
            h1 Node.js Example Site
    .container
        .main-content
            block content
        .sidebar
            block sidebar
    footer
        .container
            p Copy &copy; #{year} - Node.js Example Site