extends layout

block content
    div(ng-controller="CostCtrl")
        h1 Price:
            input(type="text" ng-model="price" placeholder="price")
        p This is your cost: {{price|currency}}
        p This is your tax: {{tax|currency}}
        p This is your total: {{total|currency}}
    div(ng-controller="CostCtrl")
        h1 Price:
            input(type="text" ng-model="price" placeholder="price")
        p This is your cost: {{price|currency}}
        p This is your tax: {{tax|currency}}
        p This is your total: {{total|currency}}
